* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman";
  margin: 0;
  height: 100vh;
}

.header { position: absolute;
  text-align: center;
  font-size: 50px;
  top: 50%;
  color: white;
  width: 100%;    

}
/* Lettering */

h1 {font: bold;}

/* Footer */
footer { 
  position: fixed; 
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #00a8c7;
  color: white;
  padding: 10px;
  text-align: left;
  margin: 0;
  text-align: center;
  }

.copyright {
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 16px;
}

/* Navbar */
nav {
  position: fixed;
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

/*index pagina starts here*/
.hackerman {
  background-image: url(img/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

/*Changes to all pages*/ 

.title  { 
  text-align: center;
  font-size: 50px;
  width: 100%;
  padding-top: 150px;
}

.twenty {
  font-size: 20px;
}


/*HTML pagina starts here*/

 .blue {
  color: blue;
 }
 .orange {
  color: orange;
 }

 .fullhtmltext {
  margin-left: 0px;
  padding-left: 750px;
  padding-top: 70px;
  padding-right: 20px;
}

.htmltext {
  margin-right: 100px;
  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 15px;
}

.htmlimage {
  float: left;
  width: 500px;
  height: 400px;
  margin-left: 150px;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
}

/*Javascript pagina starts here*/

.mainjavascript {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.javascriptimg {
  float: right;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 250px;
  width: 300px;
  height: 300px;
}

.yellow {
  color: yellow;
}

.white { 
  color: white;
}

.javascripttext {
  color: white;
  font-size: 15px;
}

.javascriptalltext {
  padding-top: 50px;
  padding-left: 159px;
  padding-right: 700px;
  padding-bottom: 50px;
}


/*PHP pagina starts here*/

.phpimg {
  float: left;
  width: 500px;
  height: 400px;
  margin-left: 150px;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.phptext {
  margin-right: 100px;
  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 15px;
}

.fullphptext {
  margin-left: 0px;
  padding-left: 750px;
  padding-top: 70px;
  padding-right: 20px;
}

/*SQL pagina starts here*/

.sqlimg {
  float: right;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 250px;
  width: 300px;
  height: 200px;
}

.sqltext {
  color: white;
  font-size: 15px;
}

.fullsqltext {
  padding-top: 50px;
  padding-left: 159px;
  padding-right: 700px;
  padding-bottom: 50px;
}

/* Contact Form starts here */

form {
  border-top-width: 2px;
  border-top-style: solid;
  border-right-width: 2px;
  border-right-style: solid;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-left-width: 2px;
  border-left-style: solid;
  padding-top: 5px;
  padding-left: 550px;
  padding-right: 5px;
  padding-bottom: 5px;
  margin-top: 10PX;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

.contact {
  width: 150px;
  margin: 2px auto;
}